<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"
          id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div class="col-xs-1 col-sm-1 col-md-1 side-icon-box" style="margin-top: 35px">
        <a href="/admin/welcome">Login to my page</a>
        <hr>
        <a href="/logout" class="button">Log out</a>
    </div>
    <div class="col-xs-11 col-sm-11 col-md-11">
        <table class="table table-striped table-hover" style="width: 80%; margin: 20px auto;">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Education</th>
                <th scope="col">Telephone</th>
                <th scope="col">Address</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="users" type="java.util.List<egs.dto.UserDto>"*/-->
            <tr th:each="user : ${users}">
                <td><span th:text="${user.id}"> id </span></td>
                <td><span th:text="${user.firstName}"> firstName </span></td>
                <td><span th:text="${user.lastName}"> lastName </span></td>
                <td><span th:text="${user.email}"> email </span></td>
                <td><span th:text="${user.education}"> education </span></td>
                <td><span th:text="${user.telephone}"> telephone </span></td>
                <td><span th:text="${user.address}"> address </span></td>
                <td>
                     <form th:action="@{/user/delete}" method="post">
                         <input type="hidden" name="id" th:value="${user.id}"/>
                         <input type="submit" value="Delete" class="btn"/>
                     </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>