<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-striped table-hover" style="width: 80%; margin: 20px auto;">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Education</th>
                <th scope="col">Telephone</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="users" type="java.util.List<egs.dto.UserDto>"*/-->
            <tr th:each="user : ${users}">
                <td><span th:text="${user.firstName}"> firstName </span></td>
                <td><span th:text="${user.lastName}"> lastName </span></td>
                <td><span th:text="${user.email}"> email </span></td>
                <td><span th:text="${user.education}"> education </span></td>
                <td><span th:text="${user.telephone}"> telephone </span></td>
                <td><span th:text="${user.address}"> address </span></td>
            </tr>
        </tbody>
    </table>
    <a href="/logout" class="button">Log out</a>
</div>
</body>
</html>