<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container" style="padding-top:50px">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Please sign up </h3>
            </div>
            <div class="panel-body" style="padding-top:30px">
                <!--/*@thymesVar id="registrationDto" type="am.egs.dto.RegistrationDto"*/-->
                <form role="form" method="post" th:action="@{/register}" th:object="${registrationDto}">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" id="first_name" name="firstName" th:value="*{firstName}"
                                       class="form-control input-sm"
                                       placeholder="First Name">
                            </div>
                            <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}">
                                <ul style="list-style-type: none">
                                    <li th:each="err : ${#fields.errors('firstName')}" th:text="${err}"/>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="lastName" id="last_name" th:value="*{lastName}"
                                       class="form-control input-sm"
                                       placeholder="Last Name">
                            </div>
                        </div>
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}">
                            <ul style="list-style-type: none">
                                <li th:each="err : ${#fields.errors('lastName')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="email" name="email" id="email" th:value="*{email}" class="form-control input-sm"
                               placeholder="Email Address">
                        <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}">
                            <ul style="list-style-type: none">
                                <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="panel-heading">
                            <fieldset class="col-md-14">
                                <legend style="font-size: 12px; ">Address</legend>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <select name="city" class="form-control" th:value="*{city}" style="color: gray">
                                            <option th:each="city : ${T(am.egs.enums.City).values()}"
                                                    th:value="${city}" th:text="${city}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="text" name="street" id="street" th:value="*{street}"
                                               class="form-control input-sm"
                                               placeholder="Street">
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('street')}">
                                        <ul style="list-style-type: none">
                                            <li th:each="err : ${#fields.errors('street')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4">
                                    <div class="form-group">
                                        <input type="number" name="apt" id="apt" th:value="*{apt}"
                                               class="form-control input-sm"
                                               placeholder="Apt">
                                    </div>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('apt')}">
                                        <ul style="list-style-type: none">
                                            <li th:each="err : ${#fields.errors('apt')}" th:text="${err}"/>
                                        </ul>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="education" id="education" th:value="*{education}"
                                       class="form-control input-sm"
                                       placeholder="Education">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="tel" name="telephone" id="telephone" th:value="*{telephone}"
                                       class="form-control input-sm"
                                       placeholder="Telephone">
                            </div>
                        </div>

                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="password" name="password" id="password" class="form-control input-sm"
                                       placeholder="Password" >
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group" style="margin: 0 auto">
                            <label style="font-weight: bold">Want to register as admin? Answer the question:</label><br>
                            <span style="color: #3c763d">Give me food, and I will live; give me water, and I will die. What am I?</span><br>
                            <input id="login-admin" type="text" name="admin" th:value="*{admin}"
                                   class="form-control input-sm">
                        </div>
                    </div>

                    <div class="row" style="margin-top: 10px; margin-bottom: 10px">
                        <input type="submit" value="Register" class="btn btn-info btn-block">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
