<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Home</title>
    <!-- Plugin-CSS -->
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/bootstrap.min.css">'/>
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/owl.carousel.min.css">'/>
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/themify-icons.css">'/>
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/magnific-popup.css">'/>
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/animate.css">'/>
    <!-- Main-Stylesheets -->
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/style.css">'/>
    <link rel="stylesheet" type ="text/css" href='<spring:url value="/view/css/responsive.css">'/>
    <script src="../js/vendor/modernizr-2.8.3.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" type="text/css" rel="stylesheet"
          id="bootstrap-css">

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#primary-menu">
<div class="preloader">
    <div class="sk-folding-cube">
        <div class="sk-cube1 sk-cube"></div>
        <div class="sk-cube2 sk-cube"></div>
        <div class="sk-cube4 sk-cube"></div>
        <div class="sk-cube3 sk-cube"></div>
    </div>
</div>
<!--Mainmenu-area-->
<div class="mainmenu-area" data-spy="affix" data-offset-top="100">
    <div class="container">
        <!--Logo-->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary-menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="#" class="navbar-brand logo">
                <h2 style="font-size: 30px">energize global services</h2>
            </a>
        </div>
        <!--Logo/-->
        <nav class="collapse navbar-collapse" id="primary-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#home-page">Home</a></li>
                <li><a href="#employees-page">Employees</a></li>
                <li><a href="#education-page">Education</a></li>
                <li><a href="#contact-page">Contact</a></li>
                <li><a href="/logout" class="button">Log out</a></li>
            </ul>
        </nav>
    </div>
</div>
<!--Mainmenu-area/-->

<!--Header-area-->
<header class="header-area overlay full-height relative v-center" id="home-page">
    <div class="absolute anlge-bg"></div>
    <div class="container">
        <div class="row v-center">
            <div class="col-xs-12 col-md-7 header-text">
                <h2 style="text-transform: uppercase; font-size: 20px">welcome to your personal
                    page <!--/*@thymesVar id="user" type="am.egs.dto.UserDto"*/-->
                    <span th:text="${user.firstName}"></span>
                </h2>
                <p>Here you can see the information of registered employees of EGS</p>
            </div>
        </div>
    </div>
</header>
<!--Header-area/-->


<!--Feature-area-->
<section class="gray-bg section-padding" id="employees-page">
    <div class="container">
        <div class="row">
            <div class="" style="margin-top: 2%; text-align: center">
                <form action="/user/users" method="get">
                    <input type="button" class="button" value="See all employees" onclick="this.form.submit()">
                </form>
            </div>
        </div>
    </div>
</section>


<!--Feature-area/-->

<section class="gray-bg section-padding" id="education-page">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                <div class="page-title">
                    <h2>EDUCATION</h2>
                    <!--/*@thymesVar id="user" type="am.egs.dto.UserDto"*/-->
                    <p th:text="${user.education}">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="footer-area relative sky-bg" id="contact-page">
    <div class="absolute footer-bg"></div>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
                    <div class="page-title">
                        <h2>Contact with you</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <address style="text-align: center">
                    <div class="side-icon-box col-sm-4">
                        <div class="side-icon">
                            <img src="../images/location-arrow.png" alt="">
                        </div>
                        <p><strong>Address: </strong>
                            <!--/*@thymesVar id="user" type="am.egs.dto.UserDto"*/-->
                        <p><span th:text="${user.address}"> address </span></p>
                    </div>
                    <div class="side-icon-box col-sm-4">
                        <div class="side-icon">
                            <img src="../images/phone-arrow.png" alt="">
                        </div>
                        <!--/*@thymesVar id="user" type="am.egs.dto.UserDto"*/-->
                        <p th:text="${user.telephone}"><strong>Telephone: </strong>

                        </p>
                    </div>
                    <div class="side-icon-box col-sm-4">
                        <div class="side-icon">
                            <img src="../images/mail-arrow.png" alt="">
                        </div>
                        <!--/*@thymesVar id="user" type="am.egs.dto.UserDto"*/-->
                        <p th:text="${user.email}"><strong>E-mail: </strong>

                        </p>
                    </div>
                </address>
            </div>
        </div>
    </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <p>&copy;Copyright 2019 All right resurved. This template is made with <i class="ti-heart"
                                                                                              aria-hidden="true"></i> by
                        <a href="http://energizeglobal.com/">EGS</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!--Vendor-JS-->
<!--<script src="../js/vendor/jquery-1.12.4.min.js"></script>
<script src="../js/vendor/bootstrap.min.js"></script>
&lt;!&ndash;Plugin-JS&ndash;&gt;
<script src="../js/owl.carousel.min.js"></script>
<script src="../js/contact-form.js"></script>
<script src="../js/jquery.parallax-1.1.3.js"></script>
<script src="../js/scrollUp.min.js"></script>
<script src="../js/magnific-popup.min.js"></script>
<script src="../js/wow.min.js"></script>
&lt;!&ndash;Main-active-JS&ndash;&gt;
<script src="../js/main.js"></script>-->
</body>

</html>
